GPE-JF-*.zip
GPE-JF-*.zip.md5
temp/*
.fuse_*
rom/install/opengapps/opengapps.zip
rom/install/boot.img

*.zip.tmp

addons/*.zip

build/
dist/
tmp/

tools/bin/.JavaPATH
*.JavaPATH

# Mod files
rom/system/framework/framework-res.apk
rom/system/priv-app/SystemUI/SystemUI.apk
